body {  margin: 0;
        padding: 0;
        }

#map {  position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        border-radius: 10px;
        }

.map-overlay {  position: absolute;
                left: 0;
                padding: 10px
                }

.btns { border-radius: 5px;
        width: 10em;
        height: 3em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1em;
        color: aliceblue;
        background-color: rgb(32, 81, 214);
        }

 
